@media screen and (max-width: 599px) {
    .menu-left {
        position: fixed;
        left: 50vw;
        transform: translateX(-50%);
    }

    .menu-center {
        position: fixed;
        left: 0;
        display: flex;
        width: 20vw;
        text-align: start;
        padding: 0px;
        top: 0px;
        justify-content: left;
        flex-direction: column;
        /* background-color: rgb(72, 255, 0); */
    }

    .menu-right {
        padding-top: 1.5vw;
        position: fixed;
        right: 2vw;

    }

    .list-menu-index {
        display: block;
        margin: 0;
        padding: 0;
        position: relative;
        left: -4vw;
        font-size: 2.5vw;
        padding-top: 1vw;
    }

    .menu-center a {
        display: none;
        position: relative;
        width: 15vw;
        background-color: rgb(255, 255, 255);
        margin: 0;
        /* border: 1px solid black; */
        padding: 1vw;
        left: 0vw;
        color: black;
    }

    .menu-center a:hover {
        background-color: rgb(126, 125, 124);
    }

    .menu-center.show-menu a {
        display: block;
    }

    .menu-web {
        padding-top: 1.5vw;
        position: fixed;
        width: 100vw;
        background-color: transparent;
        transition: backround-color 0, 3s;
        z-index: 1;
        transition: 1s;
        height: 5vh;
    }

    .menu-web.scrolled {
        background-color: rgba(0, 0, 0, 0.7);
    }


}